<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   image.plist
   LGS

   Created by Эрик Вильданов on 22.08.16.
   Copyright (c) 2016 ErikVildanov. All rights reserved.
-->
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c622716/v622716197/135a2/wZH88-pbySk.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c625627/v625627924/567ae/fEIZZtxFsVs.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c316131/v316131189/3159/LV7UxqB3boc.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c628618/v628618646/21113/Y7KeK9ggDYA.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c619725/v619725442/1cf26/EZpdCMpJm2U.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c628123/v628123240/1e490/c_iiB4vW5OM.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://minionomaniya.ru/wp-content/uploads/2016/01/Картинки-миньоны-смешные.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c624718/v624718220/272f1/qNewqVYcHOE.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c622519/v622519491/397bc/eGbsXI1Uol8.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c543100/v543100138/59f2/v_XaY1hQ4lg.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c625122/v625122459/1f9d9/YacLJ_tlHcE.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c625122/v625122459/1fa09/uUxglwCBHNI.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c624029/v624029459/27428/sOc9LDM8Idw.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c622519/v622519459/27b68/J4PgjO0ri3A.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c623421/v623421720/45531/EZxyK2mvcEY.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c623421/v623421240/4a862/A7d7fUaVQts.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c622519/v622519867/56acc/Reji0u39nHo.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c629125/v629125368/6d9f/TjEhvceSuLU.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c633831/v633831434/10db/r0qZRtIZ5bY.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c622520/v622520324/46905/pPWl8vzurTU.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c627829/v627829778/90d7/UxIC9OBAUm8.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c629419/v629419219/14a39/RSp9oK_7Gow.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c624022/v624022817/3d6f3/iNo4ncMEcCM.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c622524/v622524240/50588/sDk3yzx3L1w.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c623820/v623820112/435f4/lWthT_OdJ5E.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c628231/v628231689/190b0/oo7dYhuiLco.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c627124/v627124869/27908/tpcCRDW-ohE.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c633229/v633229590/53d5/kE288Yh78Yc.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c629125/v629125720/2e665/E-ky-i608zc.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pp.vk.me/c628320/v628320704/273b7/4owIh4_uUYY.jpg</string>
	</dict>
</array>
</plist>
